Algorithms to Implement as Seperate Functions: FIFO, SJF, STCF, RR, MLFQ
Processes should be generated randomly

User Should be able to: 
    set the number of processes and the time-quantum (for RR)
    run each algorithm and see the results (Run only FIFO, SJF, STCF, RR, MLFQ)
    run all algorithms and see the results side by side

Use Animation to show the progress of each algorithm
Use chart.js to show the results as a bar chart
Ability to save/download the results as a PDF file

Process should have these properties:
	Arrival Time
	Requested Time (Time to complete job/Burst Time)
	Priority (For MLFQ)
